[submodule "emacs.d/plugins/expand-region"]
	path = emacs.d/plugins/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "emacs.d/themes/emacs-color-theme-solarized"]
	path = emacs.d/themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
