*.secret
emacs.d/elpa/
emacs.d/auto-save-list/
emacs.d/url
emacs.d/notmuch-config.el
emacs.d/eshell/
# editor cruft
*~
\#.*\#
.\#
emacs.d/session.*
emacs.d/.mc-lists.el
emacs.d/.python-environments/
emacs.d/ac-comphist.dat
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/tmp/
emacs.d/smex-items
vim/bundle
vim/.netrwhist
vim/init.vim
